NODE_ENV=production
HOST=0.0.0.0
PORT=3000
NITRO_PORT=3000

# contoh runtime env Nuxt
NUXT_PUBLIC_APP_NAME=
NUXT_PUBLIC_API_BASE=
NUXT_PUBLIC_CLIENT_ID=
NUXT_PUBLIC_CLIENT_PASSWORD=
NUXT_PUBLIC_MINIO_BASE_URL=
NUXT_PUBLIC_MINIO_PRODUCT_FOLDER=
NUXT_SECRET_TOKEN=
